
.caja-padre{
    width: 80%;
    height: 500px;
    background-color: rgb(218, 91, 112);
    border: 2px solid rgb(228, 148, 228);
    
}
   
.caja-hija{

    background-color: rgb(219, 17, 219);
    width: 700px;
    height: 200px;
    border: 2px solid red;
    
}

